header {
    text-align: center;
    width: 100%;
}

header h1 {
    margin: 10px;
    font-size: 50px;
}

body {
    width: 100%;
    background-color: black;
    color: #ffff;
    text-align: center;
    justify-content: center;
}

table {
    text-align: center;
    margin: auto;
}

table img {
    width: 700px;
    height: 900px;
}

footer {
    text-align: center;
    width: 100%;
    margin: 10px;
    font-size: 30px;
}